.navbar-nav {
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */
    justify-content: center;   /* center ul container horizontally (optional) */
}

hr {
    height: 0.0625rem;
}

.mm-hr-short {
    margin: 0;
    height: 0.18rem;
    background-color: red;
    width: 11.25rem;
}

/* MEDIA QUERIES */
    .overlay {
        background-color: rgba(0, 0, 0, 0.40);
        border-radius: 5px;
    }