body {
    font-family: 'Merriweather', serif;
}

.navbar-nav {
    display: flex;             /* establish flex container */
    align-items: center;       /* center ul container vertically */
    justify-content: center;   /* center ul container horizontally (optional) */
}

.innabi {
    color:rgba(40, 4, 4, 1)
}

.navbar-brand{
    transform: translateX(+20%);
}

hr {
    height: 0.0625rem;
}

.mm-hr-short {
    margin: 0;
    height: 0.18rem;
    background-color: white;
    width: 11.25rem;
}
.overlay {
    background-color: rgba(40, 4, 4, 0.8);
    border-radius: 5px;
}

.card-header:first-child {
    padding-bottom: 0;
    padding-top: 2px;
}

.card-header:first-child{
    font-family: 'Merriweather', sans-serif; 
}

/* menu pages */
.mm-hr-long{
    margin: 2rem 0;
    height: 0.18rem;
    background-color: #ffffff;
}

.bg-innabi{
    background-color: rgb(48, 5, 5);
}

.btn-danger{
    background-color: rgb(69, 8, 8);
    border-color: rgb(69, 8, 8);;
}

.horizLineHeader{
    padding: 20px 0 5px 0;
    line-height: 3;
    text-align: center;
    margin: 0 auto;
    font-style: italic;

}

.one {
    position: relative;
    margin-top: 0;
}

.one:before {
    content: "";
    display: block;
    border-top: solid 1px white;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
  }
  
  .one span {
    background: rgb(48, 5, 5);
    padding: 0 20px;
    position: relative;
    z-index: 5;
  }

  .one after{
    width: 125%;
  }

.asd{
    font-size: 2rem;
}

/* MEDIA QUERIES */
    @media (min-width: 1200px ) {
        .container-fluid {
            max-width: 1140px;
        }
    }

